{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light" >
    <a class="navbar-brand">Welcome {{ username }}</a>
    <a class="btn btn-info" style="margin-left: 1450px;"href="/myorder/">My Orders</a>
    <a href="/userlogout/" class="btn btn-danger">Logout</a>
</nav>

<!--
<form method="post" action="/addpizza/">
    {% csrf_token %}
    <div class="container" style="width:530px; display: block;margin: auto;">
        <input type="text"  placeholder="name" class="form-control" name="pizza" style="width:200px; display:inline;margin:auto">
        <input type="text"  placeholder="price" class="form-control" name="price" style="width:200px; display:inline;margin:auto">        
        <input style="display: inline; " type="submit" value="add" name="" class="btn btn-success">
    </div>
</form>
</br>
</br>-->
{% for message in messages %}
<p style="text-align: center; color: green; font-size: medium;">{{ message }}</p>
{% endfor %}
<form method="post" action="/placeorder/">
<div class="container" style="display: block; margin: auto; width:550px">
    <table style="width: 600px;">
        <tr>
            <th>Pizza Name</th>
            <th>Price</th>
            <th>Quantity</th>
           <!-- <th>Action</th>-->
        </tr>
        {% for pizza in pizzas %}
        <tr>
            <td>{{ pizza.name }}</td>
            <td>{{ pizza.price }}</td>
            <td><input type="number" value="0" min="0" name="{{ pizza.id }}"style="width: 60px;"></td>
            <!--<td><a class="btn btn-warning" href="/deletepizza/{{pizza.id}}/" name="delete">Delete</a></td>
            -->

        </tr>
        {% endfor %}
    </table>
</div>
<hr>
{% csrf_token %}
<input type="text" name="address" style="margin-left:680px;margin-top: 40px; width: 400px;" placeholder="Address" >
<!--<a href="#" style="margin-left:100px;margin-top: 5px;" class="btn btn-outline-success">Place Order</a>-->
<input type="submit" name="" href="/placeorder/" style="margin-left:100px;margin-top: 5px;" class="btn btn-outline-success" value="Place Order">

</form>

{% endblock %}
